<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-1">
            <div class="col-sm-6">
                <h3 class="m-0 text-dark">Projects</h3>
            </div><!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3 project-box">
                    <span class="info-box-icon bg-danger elevation-1"><i class="far fa-list-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Project Title</span>
                        <div class="progress-group">
                            <b>45%</b>
                            <span class="float-right">160/200</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger" style="width: 45%"></div>
                            </div>
                        </div>
                        <a href="/OnePercentProgress/Home/ViewProject/01" style="display:none"></a>
                        <!-- /.progress-group -->
                    </div>
                    <!-- /.info-box-content -->

                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<a href="/OnePercentProgress/Home/ManageProject" class="float">
    <i class="fa fa-plus my-float"></i>
</a>
